.contact {
    margin-top: 70px;
    width: 100%;
    padding: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $yellow;

    @media (max-width: 850px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}