.photos-section {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;


    &__item {
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    &__description {
        font-size: 24px;
        font-weight: 500;
    }
}