.hero {
    position: relative;


    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
    }


    &-img {
        width: 100%;
        margin-top: 25px;

        &__container {
            max-width: 1400px;
            margin: 0 auto;
        }
    }

    &__information {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;

        @media (max-width: 1350px) {
            display: none;
        }

        &--icon {
            width: 50px;
            height: 50px;
            margin-right: 16px;

            @media (max-width: 850px) {
                width: 60px;
                height: 60px;
            }
        }

        &--items {
            display: flex;

            @media (max-width: 850px) {
                padding: 32px 0;
                width: 200px;
            }
        }

        &--item {
            padding-right: 85px;

            @media (max-width: 850px) {
                padding-right: 0;
            }

            &-heading {
                font-size: 24px;
                font-weight: 500;
            }
        }
    }
}