.information-section {
    display: flex;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;

    @media (max-width: 1350px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.about {

    &__paragraph {
        margin-top: 32px;
        font-size: 18px;
        font-weight: 500;
        color: $grey-dark;
    }
}


.article {
    &-item {
        margin-top: 32px;
    }

    &__space {
        font-size: 24px;
        font-weight: bold;
        color: $grey-dark;
    }

    &__description {
        font-size: 18px;
        font-weight: 500;
        color: $grey-dark;
    }

    &-head {
        font-size: 48px;
        margin: 60px 0 20px 0;
        color: $grey-dark;
    }

    &-container {
        max-width: 600px;
        margin: 50px 16px 0;
    }
}

.line {
    @media (max-width: 900px) {
        display: none;
    }
}