.localization {
    max-width: 1300px; 
    margin: 0 auto;

    &__map {
        width: 100%;
        height: 550px;
    }

    &__line {
        max-width: 1600px;
        margin: 32px 0 48px;
    }

    &__head {
        font-size: 48px;
        font-weight: 500;
        margin-top: 100px;
    }
}