@import url('https://fonts.googleapis.com/css2?family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oregano&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "~normalize.css";
@import "_variables";
@import "modules/navigation.scss";
@import "modules/hero.scss";
@import "modules/information.scss";
@import "modules/check-section.scss";
@import "modules/gallery.scss";
@import "modules/localization.scss";
@import "modules/opinions.scss";
@import "modules/contact.scss";
@import "modules/footer.scss";
@import "modules/hamburger.scss";

// body {
//   color: #fff;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
